@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pM-p {
    @apply my-1;
  }

  .pM-code {
    @apply break-words rounded-md bg-gray-50 p-[1px_5px_2px_5px] border border-slate-300 font-mono text-[85%] font-normal text-rose-500 before:content-[''] after:content-[''];
  }

  .pM-pre {
    @apply rounded-lg bg-slate-500 text-base text-white font-normal;
    code {
      @apply pl-0 before:content-none after:content-none bg-transparent border-none text-inherit;
    }
  }

  .pM-blockquote {
    @apply border-l-2 border-slate-500 pl-2;

    p:first-of-type::before {
      content: '';
    }

    p:last-of-type::after {
      content: '';
    }
  }

  .pM-ul {
    @apply list-disc;
    li {
      @apply ps-0;
      &::marker {
        @apply text-slate-500;
      }
    }
  }

  .pM-li {
    @apply my-0.5;
  }

  .pM-h1 {
    @apply text-2xl font-semibold;
  }

  .pM-h2 {
    @apply text-xl font-semibold;
  }

  .pM-h3 {
    @apply text-lg;
  }

  .pM-img {
    @apply mb-2;
  }

  .pM-prose {
    @apply prose max-w-none p-0 leading-normal;
    @apply prose-p:pM-p;
    @apply prose-blockquote:pM-blockquote;
    @apply prose-ul:pM-ul;
    @apply prose-li:pM-li;
    @apply prose-code:pM-code;
    @apply prose-pre:pM-pre;
    @apply prose-h1:pM-h1;
    @apply prose-h2:pM-h2;
    @apply prose-h3:pM-h3;
    @apply prose-img:!pM-img;

    .tiptap {
      *:first-child {
        @apply mt-0;
      }
      *:last-child {
        @apply mb-0;
      }
      & > * {
        @apply my-1.5;
      }
    }
  }
}

.ProseMirror {
  outline: none;

  p.is-editor-empty {
    margin: 0;

    &:first-child::before {
      color: #adb5bd;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none;
    }
  }

  // Hide trailing break in code blocks
  pre > code > .ProseMirror-trailingBreak {
    height: 0 !important;
    line-height: 0 !important;
  }
}

// Syntax highlighting
.hljs {
  &-comment,
  &-quote {
    color: #6a737d;
  }

  &-keyword,
  &-selector-tag,
  &-subst {
    color: #d73a49;
  }

  &-literal,
  &-number,
  &-tag .hljs-attr,
  &-template-variable,
  &-variable {
    color: #005cc5;
  }

  &-doctag,
  &-string {
    color: #032f62;
  }

  &-section,
  &-selector-id,
  &-title {
    color: #6f42c1;
  }
}
