.toolbarContainer {
  height: 48px; /* Match the height of your toolbar */
  overflow: hidden;
}

.toolbar {
  transform-origin: bottom;
  transition: all 0.2s ease;
}

.toolbarHidden {
  transform: translateY(100%);
  opacity: 0;
}

.toolbarVisible {
  transform: translateY(0);
  opacity: 1;
}
