@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'highlight.js/styles/github.css';
@import 'katex/dist/katex.min.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  .x-code {
    @apply break-words rounded-md bg-gray-100 p-[1px_4px_2px_4px] font-mono font-normal text-gray-600 before:content-[''] after:content-[''];
  }
  .x-headings {
    @apply mt-4;
  }
  .x-h1 {
    @apply mb-4 text-2xl font-bold;
  }
  .x-prose {
    @apply prose max-w-none leading-normal;
    @apply prose-code:x-code;
    @apply prose-headings:x-headings;
    @apply prose-h1:x-h1;
    @apply prose-hr:my-6;

    pre {
      @apply m-0 bg-transparent p-0;
    }

    & > *:first-child {
      @apply mt-0;
    }

    & > *:last-child {
      @apply mb-0;
    }
  }

  .x-flex-1 {
    @apply min-h-0 min-w-0 flex-1;
  }

  .x-min-hw-0 {
    @apply min-h-0 min-w-0;
  }

  x-mark {
    @apply font-medium text-gray-900 text-primary;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --danger: theme(colors.red.500);
    --danger-hover: theme(colors.red.600);
    --info: theme(colors.blue.500);
    --info-hover: theme(colors.blue.600);
    --warning: theme(colors.yellow.500);
    --warning-hover: theme(colors.yellow.600);
    --success: theme(colors.green.500);
    --success-hover: theme(colors.green.600);
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: theme(colors.sky.600);
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: theme(colors.gray.100);
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 240 5% 64.9%; // 217.2 91.2% 59.8%;
    --sidebar-hover: #e9e9e9;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --danger: theme(colors.red.400);
    --danger-hover: theme(colors.red.500);
    --info: theme(colors.blue.400);
    --info-hover: theme(colors.blue.500);
    --warning: theme(colors.yellow.400);
    --warning-hover: theme(colors.yellow.500);
    --success: theme(colors.green.400);
    --success-hover: theme(colors.green.500);
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: theme(colors.sky.400);
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: theme(colors.gray.800);
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-hover: #e9e9e9;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* CMDK Styles */
  .cmdk-group-heading, [cmdk-group-heading] {
    @apply px-4 py-1.5 text-xs font-medium text-muted-foreground;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: #eaeaea;
  border-radius: 7px;
  &:hover {
    background: #adb5bd;
  }
}
::-webkit-scrollbar-track {
  background: transparent;
}

.katex-display {
  overflow: auto hidden;
}

// Disable all shadcn focus rings
*:focus:not(:focus-visible) {
  outline: none;
}
*:focus-within,
*:focus-visible {
  outline: none !important;
  ring: none !important;
  ring-offset: none !important;
  box-shadow: none !important;
}

.is-typing::after {
  content: '...';
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis-dot 1s infinite 0.3s;
  animation-fill-mode: forwards;
  width: 1.25em;
}

@keyframes ellipsis-dot {
  25% {
    content: '';
  }
  50% {
    content: '.';
  }
  75% {
    content: '..';
  }
  100% {
    content: '...';
  }
}
